/dts-v1/; 
#include "sun7i-a20.dtsi"
#include "sunxi-common-regulators.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/pinctrl/sun4i-a10.h>

/ {
	model = "MEC eTouch V3";
	compatible = "olimex,a20-olinuxino-lime", "allwinner,sun7i-a20";

	aliases {
		serial0 = &uart0;
		spi0 = &spi0;
		spi2 = &softspi2;
	};

	chosen {
		stdout-path = "serial0:115200n8";
		
	};

	/* we need soft-spi because sunxi-spi doesn't support 9bit mode */
	softspi2: soft-spi2 {
                compatible = "spi-gpio";
		spi-3wire;
                cs-gpios = <&pio 1 14 GPIO_ACTIVE_LOW>;
                gpio-sck = <&pio 1 15 GPIO_ACTIVE_HIGH>;
                gpio-mosi = <&pio 1 16 GPIO_ACTIVE_HIGH>;
                gpio-miso = <&pio 1 17 GPIO_ACTIVE_HIGH>;
                spi-delay-us = <1>;
                cs@0 {
                };
        };
};

&i2c0 {
	status = "okay";

	axp209: pmic@34 {
		compatible = "x-powers,axp209";
                reg = <0x34>;
                interrupt-parent = <&nmi_intc>;
                interrupts = <0 IRQ_TYPE_LEVEL_LOW>;

                interrupt-controller;
                #interrupt-cells = <1>;

        };
};

&i2c1 {
	status = "okay";

	eeprom: eeprom@50 {
		compatible = "atmel,24c16";
		reg = <0x50>;
		pagesize = <16>;
	};
};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_pins_pc>,
				<&spi0_cs0_pins_pc>;
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	spi-nor@0 {
			compatible = "sst,sst25vf032b", "spansion,s25fl132k", "jedec,spi-nor";
			spi-max-frequency = <50000000>;
			reg = <0>;
	};
};

&pio {
	spi0_pins_pc: spi0_pins_pc {
		pins = "PC0", "PC1", "PC2";
		function = "spi0";
	};

	spi0_cs0_pins_pc: spi0_cs0_pins_pc {
		pins = "PC23";
		function = "spi0";
	};
};

&mmc0 {
	vmmc-supply = <&reg_vcc3v3>;
	bus-width = <4>;
	cd-gpios = <&pio 7 1 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&mmc2 {
	vmmc-supply = <&reg_vcc3v3>;
	bus-width = <4>;
	cd-inverted;
	broken-hpi;
	status = "okay";
};

&otg_sram {
	status = "okay";
};

&uart0 {
	status = "okay";
};
/*
&ohci0 {
	status="okay";
};
&ohci1 {
	status="okay";
};
*/

&usb_otg {
	status="okay";
};
&ehci0 {
	status="okay";
};
&ehci1 {
	status="okay";
};
&usbphy {
	status="okay";
};
