/dts-v1/; 

#include "sun7i-a20.dtsi"
#include "sunxi-common-regulators.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/pinctrl/sun4i-a10.h>

/ {
	model = "MEC eTouch V3";
	compatible = "olimex,a20-olinuxino-lime", "allwinner,sun7i-a20";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};
        reg_axp_ipsout: axp_ipsout {
                compatible = "regulator-fixed";
                regulator-name = "axp-ipsout";
                regulator-min-microvolt = <5000000>;
                regulator-max-microvolt = <5000000>;
                regulator-always-on;
        };

};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pins_a>;
	status = "okay";

	axp209: pmic@34 {
		compatible = "x-powers,axp209";
                reg = <0x34>;
                interrupt-parent = <&nmi_intc>;
                interrupts = <0 IRQ_TYPE_LEVEL_LOW>;

                interrupt-controller;
                #interrupt-cells = <1>;

                acin-supply = <&reg_axp_ipsout>;
                vin2-supply = <&reg_axp_ipsout>;
                vin3-supply = <&reg_axp_ipsout>;
                ldo24in-supply = <&reg_axp_ipsout>;
                ldo3in-supply = <&reg_axp_ipsout>;

                regulators {
                        vdd_rtc: ldo1 {
                                regulator-min-microvolt = <1300000>;
                                regulator-max-microvolt = <1300000>;
                                regulator-always-on;
                        };

                        avcc: ldo2 {
                                regulator-min-microvolt = <1800000>;
                                regulator-max-microvolt = <3300000>;
                                regulator-always-on;
                        };

                        vcc_csi0: ldo3 {
                                regulator-min-microvolt = <700000>;
                                regulator-max-microvolt = <3500000>;
                                regulator-always-on;
                        };

                        vcc_csi1: ldo4 {
                                regulator-min-microvolt = <1250000>;
                                regulator-max-microvolt = <3300000>;
                                regulator-always-on;
                        };

                        vdd_cpu: dcdc2 {
                                regulator-min-microvolt = <700000>;
                                regulator-max-microvolt = <2275000>;
                                regulator-always-on;
                        };

                        vdd_int: dcdc3 {
                                regulator-min-microvolt = <700000>;
                                regulator-max-microvolt = <3500000>;
                                regulator-always-on;
                        };
                };
        };
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins_a>;
	status = "okay";

	eeprom: eeprom@50 {
		compatible = "atmel,24c16";
		reg = <0x50>;
		pagesize = <16>;
	};
};

&mmc0 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc0_pins_a>, <&mmc0_cd_pin_reference_design>;
	vmmc-supply = <&reg_vcc3v3>;
	bus-width = <4>;
	cd-inverted;
	status = "okay";
};

&mmc2 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc0_pins_a>, <&mmc0_cd_pin_reference_design>;
	vmmc-supply = <&reg_vcc3v3>;
	bus-width = <4>;
	cd-inverted;
	broken-hpi;
	status = "okay";
};

&otg_sram {
	status = "okay";
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pins_a>;
	status = "okay";
};
/*
&ohci0 {
	status="okay";
};
&ohci1 {
	status="okay";
};
*/

&usb_otg {
	status="okay";
};
&ehci0 {
	status="okay";
};
&ehci1 {
	status="okay";
};
&usbphy {
	status="okay";
};
