/dts-v1/; 
#include "sun7i-a20.dtsi"
#include "sunxi-common-regulators.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/pinctrl/sun4i-a10.h>

/ {
	model = "MEC eTouch V3";
	compatible = "olimex,a20-olinuxino-lime", "allwinner,sun7i-a20";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};
};

&i2c0 {
	status = "okay";

	axp209: pmic@34 {
		compatible = "x-powers,axp209";
                reg = <0x34>;
                interrupt-parent = <&nmi_intc>;
                interrupts = <0 IRQ_TYPE_LEVEL_LOW>;

                interrupt-controller;
                #interrupt-cells = <1>;

        };
};

&i2c1 {
	status = "okay";

	eeprom: eeprom@50 {
		compatible = "atmel,24c16";
		reg = <0x50>;
		pagesize = <16>;
	};
};

&mmc0 {
	vmmc-supply = <&reg_vcc3v3>;
	bus-width = <4>;
	cd-gpios = <&pio 7 1 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&mmc2 {
	vmmc-supply = <&reg_vcc3v3>;
	bus-width = <4>;
	cd-inverted;
	broken-hpi;
	status = "okay";
};

&otg_sram {
	status = "okay";
};

&uart0 {
	status = "okay";
};
/*
&ohci0 {
	status="okay";
};
&ohci1 {
	status="okay";
};
*/

&usb_otg {
	status="okay";
};
&ehci0 {
	status="okay";
};
&ehci1 {
	status="okay";
};
&usbphy {
	status="okay";
};
